<%-include("header")%>
<div id="info-1-no-padding">
    <div id="sub-info-1-no-padding-container">
        <h2>Contact Us</h2> 
        <p>
            You can contact us via our number which is <span class="contact-info">647-799-8583</span> or you can email us at <span class="contact-info">contact@sigmacoders.ca</span>.
        </p>
    </div>
</div>

<%-include("footer")%>