<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Site 4 u">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name=description content=" Sigma Coders is pioneer computer coding training center providing creative & inspiring computer coding classes for making games, websites, apps, and the genral understanding of programming for anyone."/>
        <meta name="keywords" content="Sigma, Sigma Coders, Coders, Tutor, Computer Science, Computer Programing, Coding, Computer Coding,  Kids, Children, After Hour, After Hour program, Brampton, Toronto, GTA, intelligent, brilliant, gifted children, after school, after school program">
        <link rel="shortcut icon" type="image/jpg" href="https://i.ibb.co/0hjtXpM/Untitled78-20210609093047.jpg"/>
        <title><%=pageName%></title>
        <!-- Reference to Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">        
        <!-- Reference to SCSS -->
        <link rel="stylesheet" href="/navbar.css">
        <link rel="stylesheet" href="/master.css">
        <link rel="stylesheet" href="/welcome.css">
        <link rel="stylesheet" href="/info-2.css">
        <link rel="stylesheet" href="/info-3.css">
        <link rel="stylesheet" href="/info-4.css">
        <link rel="stylesheet" href="/info-5.css">
        <link rel="stylesheet" href="/top-3.css">
        <link rel="stylesheet" href="/discount-chart.css">
        <link rel="stylesheet" href="/quotes.css">
        <!-- Reference to JS files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/navbar.js"></script>
        <script src="/index.js"></script>
    </head>
    <body>
        <div id="web-container">
            <nav>
                <div class="navbrand">
                    <a href="/">
                        <img src="https://i.ibb.co/0hjtXpM/Untitled78-20210609093047.jpg" alt="Sigma Coders">
                        <h1>SIGMA CODERS</h1>
                    </a>
                </div>
                <div class="links">
                    <a href="/pricing">Pricing</a>
                    <a href="/reviews">Reviews</a>
                    <a href="/contact">Contact</a>
                </div>
                <div id="toggleBtn">
                    <div id="toggleBtnElement1" class=""></div>
                    <div id="toggleBtnElement2" class=""></div>
                    <div id="toggleBtnElement3" class=""></div>
                </div>
            </nav>
        </div>