<%- include("./header.ejs"); %>


<div id="index-container">
    <div id="sub-index-container">
        <div id="welcome">
            <div class="info">
                <h1>Learn From The Best.</h1>
                <h6>Sigma Coders is the next BIG online solution for learning programming.</h6>
                <div class="btn-container">
                    <a class="btn1" href="#info-1-no-a-link">Explore</a>
                    <a class="btn2" target="_blank" href="/contact">Join Now</a>
                </div>
            </div>
            <img src="https://i.ibb.co/GCgGyYW/undraw-programming-2svr.png" alt="landing page">
        </div>        
    </div>
</div>
<div id="info-1-no-a-link">
    <div id="sub-info-1-no-a-link-container">
        <h2>What is Sigma Coders?</h2> 
        <p>
            Sigma Coders is an all in one tutoring solution for programming. At Sigma Coders our mission is to ensure success in your programming path. We are dedicated to provide you best course material in the market. We don’t only teach you programming but we also teach you practices that are used by big Tech companies like Google. We can assure you that we will make sure that you succeed in whatever you want to learn programming for, middle school, high school, college/university, or for work. Not to mention that you can also learn how to develop sites, games, and applications.
            At Sigma Coders we also award you for completing a language fully. Hence, if you finish a programming <a target="_blank" href="languages">package</a> or <a target="_blank" href="languages">language</a> you will recieve a certificate of completition. With this certification you can be guaranteed positions as a volunteer at different companies that have partnered with us (some conditions apply, <a target="_blank" href="contact">contact</a> us for more information).
        </p>
    </div>
</div>
<div id="info-2">
    <div id="sub-info-2-container">
        <div class="options">
            <button class="info-2-title" id="info-2-1-title" onclick="info1()">Affordable</button>
            <button class="info-2-title" id="info-2-2-title" onclick="info2()">Accessable</button>
            <button class="info-2-title" id="info-2-3-title" onclick="info3()">Learn</button>
        </div>
        <div id="info-2-1">
            <img src="https://i.ibb.co/FzRhDGF/126.png" alt="">
            <div>
                <p>At Sigma Coders we provide the most competitive prices in the market, we asure you that one of our prices will suite you. Our prices start at $15 per class.</p>
                <a target="_blank" href="/hdwes">Learn More</a>
            </div>
        </div>
        <div id="info-2-2">
            <img src="https://i.ibb.co/tZYXn0g/86.png" alt="">
            <div>
                <p>Sigma Coders provides you the comfort of learning from Home. We teach classes virtually, and can guarantee an easy and smooth experience with us.</p>
                <a target="_blank" href="/hdwes">Learn More</a>
            </div>
        </div>
        <div id="info-2-3">
            <img src="https://i.ibb.co/fXY5Zfc/99.png" alt="">
            <div>
                <p>Sigma Coders provides an easy learning experience for all. We have specially designed and tested our course material for each language and package on many people before offering to customers just like you.</p>
                <a target="_blank" href="/hdwes">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="info-1">
    <div id="sub-info-1-container">
        <h2>What do we teach?</h2> 
        <p>
            At Sigma Coders we teach all languages that are in <strong>demand now</strong> and in the future.
            Simga Coders provides many exclusive practice tests and quizes, to ensure that you are ready for your
            upcomming exams, or interviews. Each course that is offered by Sigma Coders has been put under the
            ultimate test, and have been extensively tested on many qualified testers to ensure that it will
            exceed your expectations.
        </p>
        <a target="_blank" href="languages">Learn More ›</a>
    </div>
</div>

<div id="info-3">
    <div id="sub-info-3-container">
        
        <div class="card">
            <img class="limage" src="https://www.betterteam.com/images/senior-sales-representative-interview-questions-6016x4016-20201215.jpeg?crop=21:16,smart&width=420&dpr=2" alt="adult coding image">
            <div class="ltext">
                <h2>For Adults</h2>
                <p>
                    If you are <strong>18</strong> and over, don't worry we have have designed our course to help you
                    quickly fly through the basics of programming and eventually start working with more complex topics
                    that we cover at Sigma Coders in great depth. Adults learn the fastest, thus we provide as much lesson
                    material as your schedule permits.
                </p>
                <a class="special-button-info-3" target="_blank" href="languages">Learn More</a>
            </div>
        </div>
        <div class="card">
            <div class="rtext">
                <h2>For Teens</h2>
                <p>
                    Many programmers get interested into programming in their teen years, the teen years are very crucial
                    as teens often learn faster than children and can also learn more complex topics that children may not
                    understand. Teens also have the time to explore different areas that they might find interesting in programming.
                </p>
                <a class="special-button-info-3" target="_blank" href="languages">Learn More</a>
            </div>
            <img class="rimage" src="https://2018media.idtech.com/images/idtc-coding-101-g2-listing.jpg?e21abda484" alt="teen coding image">
        </div>
        <div class="card">
            <img class="limage" src="https://1plus1plus1equals1.net/wp-content/uploads/2012/03/IMG_2081.jpg" alt="kid coding image">
            <div class="ltext">
                <h2>For Kids</h2>
                <p>
                    Kids learn the logistical side of programming at a young age which aids with not only programming, but also
                    with decisions, problem solving, and math in real life. Kids like teens will learn the base of programming. 
                    After ensuring that the child is extremely comfortable with programming, they will start exploring languages
                    just likes teens and adults.
                </p> 
                <a class="special-button-info-3" target="_blank" href="languages">Learn More</a>
            </div>
        </div> 
    </div>
</div>

<div id="top-3">
    <!-- This is the container of the entire element, copy paste for easy implementation in site-->
    <div class="extension-container">
        <!-- Upper part of the element with text in it -->
        <div class="extension-top">
            <h1>Top skills taught at Sigma Coders</h1>
            <p>At Sigma Coders we teach something known as "languages", a programming language, and "packages", a set of languages to achieve a specific goal. Below are some top Packages.</p>
        </div>
        <!-- Lower part of the element with the styled feature -->
        <div class="extension-bottom">
            <div class="extension-box extension1">
                <h1>Web Dev</h1>
                <p>HTML, CSS, SCSS/SASS, Javascript, Flask, Mongoose, SQL, NodeJS, Express, Python, Design, and common integration of APIs</p>
                <div class="extension-graphic"></div>
                <a target="_blank" href="/languages#webdev-package">Discover More</a>
            </div>
            <div class="extension-box extension2">
                <h1>Game Development</h1>
                <p>Unity, C#, Logic 1, Logic 2, Level Design, Scratch, Python and Basic Algorithms</p>
                <div class="extension-graphic"></div>
                <a target="_blank" href="/languages#gamedev-package">Discover More</a>
            </div>
            <div class="extension-box extension3">
                <h1>App Development</h1>
                <p>Java, Swing, Flutter, Command Line, and Scratch</p>
                <div class="extension-graphic"></div>
                <a target="_blank" href="/languages#appdev-package">Discover More</a>
            </div>
        </div>
    </div>
</div>

<div class="info-4">
    <div id="sub-info-4-container">
        <h2>Reviews</h2> 
        <p>
            We’ve been ranked as one of the top coding tutors in the Region by review scores.
        </p>

        <div class="card-holder">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/842121359059320852/842121672902967326/image0.png?width=1037&height=1038" alt="kid picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Cheap and Perfect!</h1>
                    <p>I am in High School and taking Sigma Coders is one of the best decisions I have made, because of Sigma Coders I have been able to apply for volunteer opportunities for Web Dev and got accepted immediately. I also love the pricing with the amazing deals that are going on which just makes it easier for me to recommend Sigma Coders for you!</p>
                </div>
            </div>
            <div class="card">
                <img src="https://ik.imagekit.io/pnqd91hau/images/profileImages/manvir_pbfoBFvi-0.png" alt="kid picture">
                <div class="info">
                    <h2>Florida, USA</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Only Place I can recommend</h1>
                    <p>The image above is the picture of my son Josh, he has been attending Sigma Coders for a few month and loves it! He already learnt Scratch and Python and is ahead of his syllabus in his private school. He has also started showing interest in FLL and robotics. I highly recommend Sigma Coders from my personal Experience!</p>
                </div>
            </div>
            <div class="card">
                <img src="https://ik.imagekit.io/pnqd91hau/images/profileImages/Screen_Shot_2021-05-17_at_9.06.43_AM_gNz6ibwNX.png" alt="adult picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Learning Alot!</h1>
                    <p>Although I love programming the other skills that Sigma Coders offer really seprate them from the rest, personally the "Design" skill for Web Development was my favourite. I can now design stunning modern sites, thanks to Sigma Coders. </p>
                </div>
            </div>
        </div>
        
        <a href="/reviews">More Reviews ›</a>
    </div>
</div>





<script type="text/javascript">
    info1(); 
</script>
<%- include("./footer.ejs"); %>
