<%- include("./header.ejs"); %>
<div id="info-1-no-padding">
    <div id="sub-info-1-no-padding-container">
        <h2>Our Pricing</h2> 
        <p>
            At Sigma Coders we put all our efforts to ensure that you are comfortably able to get
            programming tutoring without worrying about your financial status. Thus our competitive 
            pricing for the basic classes is the lowest in the market! Starting around $15 per class.
            But to get an accurate estimation of the cost for you, conact us with the button below. 
            <br>
            **The Table below are the discounts that we have and are only here once**
        </p>
        <a href="/contact">Contact</a>
    </div>
</div>

<div id="discount-chart">
    <table>
        <th>Discount</th>
        <th>Expirey Date</th>
        <th>Code</th>
        <th>Description</th>


        <tr>
            <td data-label="Discount">30% off</td>
            <td data-label="Expirey Date">2021/09/25</td>
            <td data-label="Code">L4X8/ L4Q9/ L4Z1</td>
            <td data-label="Description">30% off the classes you buy! Some conditions apply.</td>
        </tr>


        <tr>
            <td data-label="Discount">3 Free Classes</td>
            <td data-label="Expirey Date">2021/09/18</td>
            <td data-label="Code">M1P4/ M1Q3/ M1Z2</td>
            <td data-label="Description">When buying classes, get 3 classes for free! Some conditions apply.</td>
        </tr>

        <tr>
            <td data-label="Discount">2 Free Classes Per Reference</td>
            <td data-label="Expirey Date">2022/01/01</td>
            <td data-label="Code">RZR2</td>
            <td data-label="Description">Get 2 Free Class per person that joins referred by you! Some conditions apply.</td>
        </tr>


    </table>
</div>


<%- include("./footer.ejs"); %>