<%- include("./header.ejs"); %>
<div id="info-1-no-padding">
    <div id="sub-info-1-no-padding-container">
        <h2>Our Pricing</h2> 
        <p>
            At Sigma Coders we put all our efforts to ensure that you are comfortably able to get
            programming tutoring without worrying about your financial status. Thus our competitive 
            pricing for the basic classes is the lowest in the market! Starting around $15 per class.
            But to get an accurate estimation of the cost for you, conact us with the button below. 
            <br>
            **The Table below are the discounts that we have and are only here once**
        </p>
        <a href="/contact">Contact</a>
    </div>
</div>

<div id="discount-chart">
    <table>
        <th>Discount</th>
        <th>Expirey Date</th>
        <th>Code</th>
        <th>Description</th>


        <tr>
            <td data-label="Discount">5% off</td>
            <td data-label="Expirey Date">2021/11/01</td>
            <td data-label="Code">L4X8</td>
            <td data-label="Description">Get 5% off for the first 5 classes. Some conditions apply.</td>
        </tr>


        <tr>
            <td data-label="Discount">20% off</td>
            <td data-label="Expirey Date">2022/10/01</td>
            <td data-label="Code">P3IX</td>
            <td data-label="Description">Get 20% off for the first 10 classes. Some conditions apply.</td>
        </tr>

        <tr>
            <td data-label="Discount">5% off + 3 free classes</td>
            <td data-label="Expirey Date">2022/06/01</td>
            <td data-label="Code">P3IX</td>
            <td data-label="Description">Get 3 free classes and 5% off if you reference 2 people to Sigma Coders. Some conditions apply.</td>
        </tr>


    </table>
</div>


<%- include("./footer.ejs"); %>