<%-include("header")%>

<div class="info-4 info-4-2">
    <div id="sub-info-4-container">
        <h2>Reviews</h2> 
        <p>
            The reviews below are reviews that have been posted by parents, and students at
            Sigma Coders. We strive to ensure your happiness with Sigma Coders :)
        </p>

        <div class="card-holder">
            <div class="card">
                <img src="https://media.discordapp.net/attachments/842121359059320852/842121672902967326/image0.png?width=1037&height=1038" alt="kid picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Cheap and Perfect!</h1>
                    <p>I am in High School and taking Sigma Coders is one of the best decisions I have made, because of Sigma Coders I have been able to apply for volunteer opportunities for Web Dev and got accepted immediately. I also love the pricing with the amazing deals that are going on which just makes it easier for me to recommend Sigma Coders for you!</p>
                </div>
            </div>
            <div class="card">
                <img src="https://ik.imagekit.io/pnqd91hau/images/profileImages/manvir_pbfoBFvi-0.png" alt="kid picture">
                <div class="info">
                    <h2>Florida, USA</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Only Place I can recommend</h1>
                    <p>The image above is the picture of my son Josh, he has been attending Sigma Coders for a few month and loves it! He already learnt Scratch and Python and is ahead of his syllabus in his private school. He has also started showing interest in FLL and robotics. I highly recommend Sigma Coders from my personal Experience!</p>
                </div>
            </div>
            <div class="card">
                <img src="https://ik.imagekit.io/pnqd91hau/images/profileImages/Screen_Shot_2021-05-17_at_9.06.43_AM_gNz6ibwNX.png" alt="adult picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Learning Alot!</h1>
                    <p>Although I love programming the other skills that Sigma Coders offer really seprate them from the rest, personally the "Design" skill for Web Development was my favourite. I can now design stunning modern sites, thanks to Sigma Coders. </p>
                </div>
            </div>
            <div class="card">
                <img src="https://ik.imagekit.io/pnqd91hau/images/profileImages/vivek_l_rikFGroH.png" alt="kid picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Learn Anything!</h1>
                    <p>I am an experienced programmer as I have been programming for 6 years, I found it hard to learn new programming languages; Thus I stuck to Web Dev, but with the prices at Sigma Coders I was immediately intersted and start learning about Machine Learning in the Python course. It's Simple and I love it!</p>
                </div>
            </div>
        </div>
    </div>
</div>




<%-include("footer")%>