<%-include("header")%>

<div class="info-4 info-4-2">
    <div id="sub-info-4-container">
        <h2>Reviews</h2> 
        <p>
            The reviews below are reviews that have been posted by parents, and students at
            Sigma Coders. We strive to ensure your happiness with Sigma Coders :)
        </p>

        <div class="card-holder">
            <div class="card">
                <img src="https://images.pexels.com/photos/2586353/pexels-photo-2586353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="kid picture">
                <div class="info">
                    <h2>Florida, USA</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Best of th Best</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/789303/pexels-photo-789303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="kid picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Only Place I can recommend</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1220757/pexels-photo-1220757.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="adult picture">
                <div class="info">
                    <h2>Tokyo, Japan</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Amazing and Affordable</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/2586353/pexels-photo-2586353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="kid picture">
                <div class="info">
                    <h2>Florida, USA</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Best of th Best</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/789303/pexels-photo-789303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="kid picture">
                <div class="info">
                    <h2>Ontario, Canada</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>The Only Place I can recommend</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1220757/pexels-photo-1220757.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="adult picture">
                <div class="info">
                    <h2>Tokyo, Japan</h2>
                    <div class="rating">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/mozilla/36/white-medium-star_2b50.png" alt="">
                    </div>
                    <h1>Amazing and Affordable</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, quam eum ipsam ipsa magnam possimus expedita ipsum obcaecati autem voluptate? Perspiciatis dolorem placeat porro doloremque eligendi culpa reiciendis asperiores iusto?</p>
                </div>
            </div>
        </div>
    </div>
</div>




<%-include("footer")%>