html, body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white !important;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

#web-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-1 {
  margin: 7% 0 7% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-1 #sub-info-1-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3%;
}

.info-1 #sub-info-1-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #3b3b3b;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .info-1 #sub-info-1-container .package-title {
    width: auto;
  }
}

.info-1 #sub-info-1-container p {
  font-size: 1.2rem;
  color: #838383;
  letter-spacing: 1px;
  width: 550px;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  width: auto;
}

.info-1 #sub-info-1-container a {
  text-decoration: none;
  color: #838383;
  bottom: 0;
  font-size: 1rem;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.info-1 #sub-info-1-container a:hover {
  font-size: 1.5rem !important;
}

@media only screen and (max-width: 1000px) {
  #sub-info-1-container {
    width: 70% !important;
  }
  #sub-info-1-container p {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  .info-1 {
    margin-top: 100px;
  }
  #sub-info-1-container {
    width: 90% !important;
  }
  #sub-info-1-container p {
    height: 200px;
    width: 90vw;
  }
  .info-1-2 {
    margin: 0px 0px 26px;
    height: 700px;
  }
}

#info-1-no-a-link {
  margin: 7% 7% 7% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info-1-no-a-link #sub-info-1-no-a-link-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3%;
}

#info-1-no-a-link #sub-info-1-no-a-link-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #3b3b3b;
  margin-bottom: 10px;
}

#info-1-no-a-link #sub-info-1-no-a-link-container p {
  font-size: 1.2rem;
  color: #838383;
  letter-spacing: 1px;
  width: 550px;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
}

#info-1-no-a-link #sub-info-1-no-a-link-container a {
  text-decoration: none;
  color: #0099ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#info-1-no-a-link #sub-info-1-no-a-link-container a:hover {
  font-size: 1.5rem !important;
}

@media only screen and (max-width: 1000px) {
  #info-1-no-a-link #sub-info-1-no-a-link-container {
    width: 70% !important;
  }
  #info-1-no-a-link #sub-info-1-no-a-link-container p {
    width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  #info-1-no-a-link #sub-info-1-no-a-link-container {
    width: 90% !important;
  }
  #info-1-no-a-link #sub-info-1-no-a-link-container p {
    width: 90vw;
  }
}

#info-1-no-padding {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info-1-no-padding #sub-info-1-no-padding-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3%;
}

#info-1-no-padding #sub-info-1-no-padding-container h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #3b3b3b;
  margin-bottom: 10px;
}

#info-1-no-padding #sub-info-1-no-padding-container p {
  font-size: 1.2rem;
  color: #838383;
  letter-spacing: 1px;
  width: 550px;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  width: 500px;
}

@media only screen and (max-width: 600px) {
  #info-1-no-padding #sub-info-1-no-padding-container p {
    width: auto;
  }
}

#info-1-no-padding #sub-info-1-no-padding-container a {
  text-decoration: none;
  color: #0099ff;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  background-color: white;
  padding: 10px 14px;
  border: 4px #0099ff solid;
  border-radius: 7px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: -10px;
}

#info-1-no-padding #sub-info-1-no-padding-container a:hover {
  font-size: 1.5rem !important;
  color: white;
  background-color: #0099ff;
}

@media only screen and (max-width: 1000px) {
  #info-1-no-padding #sub-info-1-no-padding-container a {
    margin-bottom: -20px;
  }
}

@media only screen and (max-width: 600px) {
  #info-1-no-padding #sub-info-1-no-padding-container a {
    margin-bottom: -30px;
  }
}

#info-1-no-padding .contact-info {
  color: #0099ff !important;
  white-space: nowrap;
}

@media only screen and (max-width: 1000px) {
  #sub-info-1-container {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  #sub-info-1-container {
    width: 90% !important;
  }
}

#copyright {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
  color: #838383;
}

#copyright h1 {
  font-weight: 400;
  font-size: 1.2rem;
}
/*# sourceMappingURL=master.css.map */